body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin:0;
    

}

.header{
    background: #1f2937;
    display: flex;
    align-items: center;
   
    
}

.logo{
    color: #f9faf8;
    font-size: 2.5vw;
    font-weight: 600;
    padding-left: 120px;
    /* border: 2px solid cyan; */
   /* flex:1; */
   
   
    
}

.menu{
    /* border: 2px solid yellow; */
   flex:1;
    
}
.menu ul{
    display: flex;
    gap:20px;
    justify-content: flex-end;
    padding-right: 120px;
    /* border: 2px solid grey; */
   
    
}




footer{
    flex:1;
    background: #1f2937;
    color: white;
    padding: 20px;
}

.menu li{
list-style-type: none;

}

.menu a{
    color: white;
    text-decoration: none;
    font-size: 2vw;
}

.menu a:hover{
    text-decoration:underline;
}

 /* .boxone{
    display: flex;
    gap: 20px;
    margin:50px 120px; 
     background:#1f2937;  
}  */

/* .eagle{
    border: 2px solid green;
    flex:1;
    display: flex;
  
} */

/* .texto{
    border: 2px solid blueviolet;
    flex:2;
    flex:1;
    margin: 50px 120px;
} */

/* .eagle img{
    max-width: 150px;
    margin: 50px 120px;
}  */



.row-one{
    background:#1f2937 ;
    display: flex;
    padding: 60px 120px;
    /* border: 2px solid yellow; */
    gap: 50px;
    justify-content: center;
    align-items: center;
}

h1{
    color:#f9faf8;
    font-size: 3.5vw;
    margin: 0;
}

.main-img{
    
    /* border: 2px solid cyan; */
    flex: 1;
    /* max-width: 80%;
    height: auto; */
   
}



img{
    margin: auto; 
    display: block; 
    /* padding: 10px 20px; */
    flex: auto;
    max-width: 100%;
    height: auto;
    padding-top: 4px; 
    padding-bottom: 4px; 
    
}

.title{
    /* border: 2px solid cyan; */
    flex:1;
    padding-left:20px;
    padding-right: 20px;
}

.text-one{
    color: whitesmoke;
   
}

.row-two h2{
    text-align: center;
    font-size: 2.5vw;
}

.cards-content{
    display: flex;
    justify-content: center;
    gap: 3px;
    /* margin:0 25px; */
}

.cards{
    max-width: 250px;
    
}

.card-image{
    /* width:80px; */
    max-width:60%;
    height: auto;
    border: 1px solid blue;
    border-radius: 10px;
    margin-top: 20px;
}

.cards p{
    text-align: center;
    font-size: 1.5vw;
}

.row-three{
    background: #e5e7eb;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 40px;
    
}

.quote {
    text-align: justify;
    padding-top: 40px;
    padding-right: 170px;
    padding-left: 170px;
    font-size: 1.8vw;
}

.author{
    text-align: right;
    padding-right: 170px;
    padding-left: 170px;
    font-size: 1.8vw;
}

.row-four{
    color: white;
}

.call-to-action{
    margin: 50px 120px;
    padding: 30px 50px;
    background: #3882f6;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    
}

.call{
    /* border: 2px solid red; */
    flex:1;
    
    
}

.text-two{
    /* border: 2px solid yellow; */
    font-size: 1.5vw;
    margin: 0;
}

.button-two{
    /* border: 2px solid green; */
    border-radius: 5px;
    
    
   
    
    
}

.sign-up-two{
    border:2px solid white;
    
}

button{
    padding:5px 30px;
    border-radius: 5px;
    font-size: 1.4vw;
    background: #3882f6;
    border:none;
    color: white;
}

button a{
    color: white;
    text-decoration: none;
    
}

button a:hover{
    text-decoration:underline;
}

h4{
    font-size: 2vw;
    padding:0;
    margin: 0;
}

footer{
    text-align: center;
    font-size: 1.4vw;

}


    

    
